{% extends "book/layout.html" %}
{% block content %}
    <h2>{{ post.title }}</h2>
    <p>
        {% for tag in post.tag_set.all %}
            <span class="badge" style="background-color: steelblue;">{{ tag.name }}</span>
        {% endfor %}
    </p>
    {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="{{ post.title }}"/>
    {% endif %}
    {{ post.content|linebreaks }}

    <h3>댓글</h3>
    <a href="{% url "book:comment_new" post.pk %}">댓글쓰기</a>
    <ul>
        {% for comment in comment_list %}
            <li>
                {{ comment.message }}
                by {{ comment.author_name }}
                at
                <span title="{{ comment.created_at }}">{{ comment.created_at|timesince }}전 </span>

                <a href="{% url "book:comment_edit" post.pk comment.pk %}">Edit</a>
            </li>
        {% endfor %}
    </ul>

    <hr/>
    <a href="{% url "book:post_list" %}">목록으로</a>
    <a href="{% url "book:post_edit" post.pk %}">수정하기</a>
{% endblock %}


